<template>
  <v-dialog v-model="isOpen" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="title">{{ title }}</span>
      </v-card-title>
      <v-form class="px-3" @submit.prevent="save">
        <v-card-text>
          <slot></slot>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="save">Save</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  },

  data: () => ({
    isOpen: false
  }),

  methods: {
    open() {
      this.isOpen = true;
    },

    close() {
      this.isOpen = false;
      this.$emit('cancel');
    },

    save() {
      this.$emit('saveItem');
    }
  }
};
</script>
