<template>
  <v-snackbar
    v-model="isShow"
    :color="type"
    bottom
    right
    :timeout="notificationTimeout"
  >
    {{ message }}
    <v-btn text @click="isShow = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data: () => ({
    isShow: false,
    message: '',
    type: null,
    notificationTimeout: 6000
  }),
  methods: {
    show(message, type) {
      this.isShow = true;
      this.message = message;
      this.type = type;
    }
  }
};
</script>
