<template>
  <v-navigation-drawer v-model="drawer" app class="grey darken-3">
    <v-layout column align-center>
      <v-flex class="mt-5" text-center>
        <v-avatar size="100">
          <v-img :src="avatar" />
        </v-avatar>
        <p class="white--text subheading mt-1">{{ username }}</p>
      </v-flex>
    </v-layout>
    <v-list>
      <v-list-item
        v-for="link in links"
        :key="link.text"
        router
        :to="link.route"
      >
        <v-list-item-action>
          <v-icon class="white--text" v-text="link.icon" />
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="white--text" v-text="link.text" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      drawer: true,
      links: [
        { icon: 'dashboard', text: 'Category', route: '/category' },
        { icon: 'branding_watermark', text: 'Brand', route: '/brand' },
        { icon: 'laptop', text: 'Product', route: '/product' }
      ]
    };
  },

  computed: {
    ...mapGetters('auth', ['username', 'avatar'])
  }
};
</script>
