<template>
  <v-app-bar app flat>
    <v-app-bar-nav-icon
      class="ml-1"
      @click.stop="$emit('toggle-drawer')"
    ></v-app-bar-nav-icon>

    <v-toolbar-title>
      <span class="font-weight-light mr-1">Admin</span>
      <span>management</span>
    </v-toolbar-title>

    <v-spacer />

    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn text color="black" v-on="on">
          {{ username }}
          <v-icon right>expand_more</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in menus"
          :key="index"
          @click="handleMenuClicked(item)"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    menus: [
      { title: 'Profile', name: 'profile', icon: 'person' },
      { title: 'Log out', name: 'logOut', icon: 'exit_to_app' }
    ]
  }),

  computed: {
    ...mapGetters('auth', ['username'])
  },

  methods: {
    handleMenuClicked(selectedItem) {
      switch (selectedItem.name) {
        case 'profile':
          this.goToProfilePage();
          break;
        case 'logOut':
          this.logout();
          break;
      }
    },

    goToProfilePage() {
      this.$router.push('/profile');
    },

    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.replace('/login');
    }
  }
};
</script>
