<template>
  <div>
    <Modal
      ref="modal"
      :title="formTitle"
      @saveItem="save"
      @cancel="resetEditedItem"
    >
      <v-file-input
        label="Logo"
        accept="image/*"
        prepend-icon="mdi-camera"
        @change="onFileChange"
      ></v-file-input>
      <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
    </Modal>

    <v-data-table :headers="headers" :items="brands" :loading="isLoading">
      <template v-slot:top>
        <DataTableToolbar
          title="Brand"
          buttonLabel="New item"
          @openModal="openModal"
        />
      </template>
      <template v-slot:item.logo="{ item }">
        <div class="p-2 logo-cell">
          <v-img :src="item.logo"></v-img>
        </div>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="edit(item)">edit</v-icon>
        <v-icon small @click="deleteBrand(item)">delete</v-icon>
      </template>
    </v-data-table>

    <ConfirmDialog ref="confirm" />
  </div>
</template>

<script>
import DataTableToolbar from '@/components/DataTableToolbar';
import Modal from '@/components/Modal';
import ConfirmDialog from '@/components/ConfirmDialog';

import Brand from '@/models/brand';
import { mapState, mapGetters } from 'vuex';
import { FETCH_ALL, CREATE, UPDATE, DELETE } from '@/store/actions.type';
import FileService from '@/services/file.service';

import exceptionHandleMixin from '@/mixins/exceptionHandleMixin';

export default {
  components: {
    DataTableToolbar,
    Modal,
    ConfirmDialog
  },

  mixins: [exceptionHandleMixin],

  data: () => ({
    headers: [
      { text: 'Logo', value: 'logo', sortable: false },
      { text: 'Name', value: 'name' },
      { text: 'Actions', value: 'action', align: 'center', sortable: false }
    ],
    editedIndex: -1,
    editedItem: new Brand(),
    selectedFile: null
  }),

  computed: {
    ...mapState(['isLoading']),
    ...mapState('brand', ['resultMessage']),

    ...mapGetters('brand', ['brands']),

    formTitle() {
      return this.editedIndex === -1 ? 'New brand' : 'Edit brand';
    }
  },

  created() {
    this.$store.dispatch(`brand/${FETCH_ALL}`);
  },

  methods: {
    onFileChange(file) {
      this.selectedFile = file;
    },

    edit(item) {
      this.editedIndex = this.brands.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.openModal();
    },

    closeModal() {
      this.$refs.modal.close();
      this.resetEditedItem();
    },

    async save() {
      if (this.editedIndex > -1) {
        await this.updateBrand();
      } else {
        await this.createBrand();
      }
      this.closeModal();
    },

    async createBrand() {
      let logoName = '';

      if (this.selectedFile) {
        try {
          let { data } = await FileService.upload(this.selectedFile);
          logoName = data.fileName;
        } catch (error) {
          this.handleException(error);
        }
      }

      try {
        await this.$store.dispatch(`brand/${CREATE}`, {
          name: this.editedItem.name,
          logo: logoName
        });
        this.$eventBus.$emit('showNotification', this.resultMessage, 'success');
      } catch (error) {
        this.handleException(error);
      }
    },

    async updateBrand() {
      try {
        await this.$store.dispatch(`brand/${UPDATE}`, this.editedItem);
        this.$eventBus.$emit('showNotification', this.resultMessage, 'success');
      } catch (err) {
        this.handleException(err);
      }
    },

    async deleteBrand(item) {
      try {
        if (
          await this.$refs.confirm.open('Delete', 'Are you sure?', {
            color: 'red'
          })
        ) {
          await this.$store.dispatch(`brand/${DELETE}`, item.id);
          this.$eventBus.$emit(
            'showNotification',
            this.resultMessage,
            'success'
          );
        }
      } catch (err) {
        this.$eventBus.$emit(
          'showNotification',
          'Error when delete brand',
          'success'
        );
      }
    },

    openModal() {
      this.$refs.modal.open();
    },

    resetEditedItem() {
      this.editedItem = Object.assign({}, new Brand());
      this.editedIndex = -1;
    }
  }
};
</script>

<style scoped>
.logo-cell {
  width: 100px;
  height: 80px;
}
</style>
