<template>
  <div>
    <Modal
      ref="modal"
      :title="formTitle"
      @saveItem="save"
      @cancel="resetEditedItem"
    >
      <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
    </Modal>

    <v-data-table
      :headers="headers"
      :items="parentCategories"
      :loading="isLoading"
      show-expand
      :single-expand="true"
      @item-expanded="onRowExpanded"
    >
      <template v-slot:top>
        <DataTableToolbar
          title="Category"
          buttonLabel="New item"
          @openModal="openModal"
        />
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click.stop="editItem(item, false)"
          >edit</v-icon
        >
        <v-icon small @click.stop="deleteItem(item, false)">delete</v-icon>
      </template>
      <template v-slot:expanded-item="{ headers }">
        <td :colspan="headers.length">
          <v-data-table
            :headers="headers"
            :items="subCategories"
            :loading="isLoadingSub"
            hide-default-footer
            class="elevation-5"
          >
            <template v-slot:top>
              <DataTableToolbar
                title="Sub categories"
                buttonLabel="Add sub category"
                @openModal="addSubCat"
              />
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon small class="mr-2" @click="editItem(item, true)"
                >edit</v-icon
              >
              <v-icon small @click="deleteItem(item, true)">delete</v-icon>
            </template>
          </v-data-table>
        </td>
      </template>
    </v-data-table>

    <ConfirmDialog ref="confirm" />
  </div>
</template>

<script>
import DataTableToolbar from '@/components/DataTableToolbar';
import Modal from '@/components/Modal';
import ConfirmDialog from '@/components/ConfirmDialog';

import Category from '@/models/category';
import { mapState } from 'vuex';
import {
  GET_PARENT_CATEGORIES,
  GET_SUB_CATEGORIES,
  CREATE,
  UPDATE,
  DELETE
} from '@/store/actions.type';

import exceptionHandleMixin from '@/mixins/exceptionHandleMixin';

export default {
  components: {
    DataTableToolbar,
    Modal,
    ConfirmDialog
  },

  mixins: [exceptionHandleMixin],

  data: () => ({
    headers: [
      { text: 'No', value: 'no', sortable: false },
      { text: 'Category', value: 'name' },
      { text: 'Actions', value: 'action', sortable: false, align: 'center' },
      { text: '', value: 'data-table-expand' }
    ],
    parentId: null,
    editedIndex: -1,
    editedItem: new Category(),
    isAddChild: false,
    isEditChild: false
  }),

  computed: {
    ...mapState(['isLoading']),

    ...mapState('category', [
      'parentCategories',
      'subCategories',
      'resultMessage',
      'isLoadingSub'
    ]),

    formTitle() {
      return this.editedIndex === -1 ? 'New category' : 'Edit category';
    }
  },

  created() {
    this.$store.dispatch(`category/${GET_PARENT_CATEGORIES}`);
  },

  methods: {
    async onRowExpanded(row) {
      this.parentId = row.item.id;
      await this.$store.dispatch(`category/${GET_SUB_CATEGORIES}`, row.item.id);
    },

    editItem(item, isEditChild) {
      this.editedIndex = isEditChild
        ? this.subCategories.indexOf(item)
        : this.parentCategories.indexOf(item);
      this.isEditChild = isEditChild;
      this.editedItem = Object.assign({}, item);
      this.openModal();
    },

    async save() {
      if (this.editedIndex === -1) {
        if (this.isAddChild) {
          await this.createSubCategory();
          this.isAddChild = false;
        } else {
          await this.createCategory();
        }
      } else {
        if (this.isEditChild) {
          await this.updateSubCategory();
          this.isEditChild = false;
        } else {
          await this.updateCategory();
        }
      }

      this.closeModal();
      this.resetEditedItem();
    },

    async updateCategory() {
      try {
        await this.$store.dispatch(`category/${UPDATE}`, {
          categoryToUpdate: this.editedItem,
          isUpdateSub: false
        });

        this.$eventBus.$emit(
          'showNotification',
          'Updated successfully',
          'success'
        );
      } catch (err) {
        this.handleException(err);
      }
    },

    async updateSubCategory() {
      try {
        await this.$store.dispatch(`category/${UPDATE}`, {
          categoryToUpdate: this.editedItem,
          isUpdateSub: true
        });

        this.$eventBus.$emit(
          'showNotification',
          'Updated successfully',
          'success'
        );
      } catch (err) {
        this.handleException(err);
      }
    },

    async createCategory() {
      try {
        await this.$store.dispatch(`category/${CREATE}`, {
          name: this.editedItem.name
        });

        this.$eventBus.$emit(
          'showNotification',
          'Added successfully',
          'success'
        );
      } catch (err) {
        this.handleException(err);
      }
    },

    async createSubCategory() {
      try {
        this.$store.dispatch(`category/${CREATE}`, {
          name: this.editedItem.name,
          parentCategory: {
            id: this.parentId
          }
        });

        this.$eventBus.$emit(
          'showNotification',
          'Added successfully',
          'success'
        );
      } catch (err) {
        this.handleException(err);
      }
    },

    async deleteItem(item, isDeleteSubCat) {
      try {
        if (
          await this.$refs.confirm.open('Delete', 'Are you sure?', {
            color: 'red'
          })
        ) {
          await this.$store.dispatch(`category/${DELETE}`, {
            categoryId: item.id,
            isDeleteSubCat
          });

          this.$eventBus.$emit(
            'showNotification',
            'Deleted successfully',
            'success'
          );
        }
      } catch (err) {
        this.$eventBus.$emit(
          'showNotification',
          'Error when delete category',
          'error'
        );
      }
    },

    addSubCat() {
      this.isAddChild = true;
      this.openModal();
    },

    openModal() {
      this.$refs.modal.open();
    },

    closeModal() {
      this.$refs.modal.close();
    },

    resetEditedItem() {
      this.editedItem = Object.assign({}, new Category());
      this.editedIndex = -1;
    }
  }
};
</script>
