<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col cols="6">
        <v-card flat>
          <v-card-title class="headline">
            Login
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="isFormValid" @submit.prevent="login">
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="user.username"
                      label="Username"
                      required
                      :rules="validationRules"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="user.password"
                      label="Password"
                      required
                      :rules="validationRules"
                      :type="isShowPassword ? 'text' : 'password'"
                      :append-icon="isShowPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="isShowPassword = !isShowPassword"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-if="errorMessage">
                  <v-col>
                    <p class="red--text">{{ errorMessage }}</p>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="login">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';
import User from '@/models/user';

export default {
  data: () => ({
    isFormValid: false,
    user: new User('', ''),
    isShowPassword: false
  }),

  computed: {
    validationRules() {
      return [value => !!value || 'This field is required'];
    },

    ...mapState({
      errorMessage: state => state.auth.error
    })
  },

  methods: {
    login() {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch('auth/login', this.user)
          .then(() => this.$router.push('/'));
      }
    }
  }
};
</script>
