<template>
  <div>
    <navbar />
    <v-content class="mx-4 my-3">
      <router-view />
      <notification ref="notification" />
    </v-content>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar';
import Notification from '@/components/Notification';

export default {
  components: {
    navbar: Navbar,
    notification: Notification
  },

  created() {
    this.$eventBus.$on('showNotification', this.handleShowNotification);
  },

  destroyed() {
    this.$eventBus.$off('showNotification', this.handleShowNotification);
  },

  methods: {
    handleShowNotification(message, type) {
      this.$refs.notification.show(message, type);
    }
  }
};
</script>
